<h2>Books</h2>

<p>
  <label for="page">Page:</label>
  <input type="number" name="page" id="page" [ngModel]="pageNumber" (ngModelChange)="changePage($event)">
</p>
<p>
  <label for="search">Search:</label>
  <input type="text" name="search" id="search" [ngModel]="searchText" (ngModelChange)="searchBook($event)">
</p>

<p *ngFor="let book of books$ | async; trackBy: trackBooks" [routerLink]="['./', book.id]">
  {{book.title}}
  <button type="button" (click)="removeBook(book, $event)">Remove</button>
</p>
