<form novalidate (ngSubmit)="save()" *ngIf="author" [formGroup]="form">
  <fieldset>
    <legend>
      <h3>{{author.name | uppercase}}</h3>
    </legend>
    <h4>Books</h4>
    <p *ngFor="let book of author.books">{{book.title}}</p>
    <mat-form-field><input matInput placeholder="name" type="text" name="name" id="name" formControlName="name"></mat-form-field>
    <mat-form-field><input matInput placeholder="year of birth" type="number" name="yearOfBirth" id="yearOfBirth" formControlName="yearOfBirth"></mat-form-field>
  </fieldset>
  <button mat-button type="submit">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</form>
<div *ngIf="loadingError">
  Error occurred while loading book details.
  <br/>
  <small>{{loadingError | json}}</small>
</div>